/* 注意：用fullpage，它会再帮我们生成一个div用来包住我们自己写的html，所以如果我想让自己写的html用伸缩布局
    就应该加在这个生成的div上面
*/
.section1>div{

    display: flex;
    /* 设置y轴为主轴 */
    flex-direction: column;
    /* 主轴排列为两边有间距元素和元素之间也有间距 */
    justify-content: space-around;
    /* 在副轴（x轴）居中 */
    align-items: center;
}

.text img{

    margin-left: 30px;
    opacity: 0.5;
}


/* 类加动画
    当.section1这个div也还有animation这个类的时候，就来修改它里面的.text里面的img的样式
*/
.section1.animation .text img{

    transition: all 1s;
    margin-left: 0;
    opacity: 1;
}



/********************** 第二屏开始  **********************/
.section2>div{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shield{

   width: 500px;
   /* 保证最小为500，不管你怎么缩放我都保持500，只是说缩放后有一部分我看不到了 */
   min-width: 500px;
}

.shield img{

    float: left;
}

.shield img:nth-child(3){

    transform: translate(1000px,1000px) rotate(570deg);
}


.section2.animation .shield img:nth-child(3){

    transition: all 1s;
    transform: none;
}


/********************** 第三屏开始  **********************/
.section3 .circle{

    /* 记得一定要给宽高，因为div默认没有宽高，宽高刚好是圆的宽高就行了 */
    width: 453px;
    height: 449px;
    background: url(../images/circle.png) no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section3>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.rocket{

    transform: translate(-1000px,1000px);
}

.section3.animation .rocket{

    transition: all 1s;
    transform: none;
}


/********************** 第四屏开始  **********************/
.search{

    width: 529px;
    height: 66px;
    background: url(../images/search.png) no-repeat;
    /* 这是为了文字相对于我定位 */
    position: relative;


    transform: translate(-1000px);
}

.key{

    /* 默认看不到，然后用动画效果宽度变为99 */
    width: 0px;
    height: 22px;
    background: url(../images/key.png) no-repeat;
    position: absolute;
    left:15px;
    top:22px;
}

.searchBox{

    width: 529px;
    height: 438px;
}

.result{

    width: 529px;
    /* 默认看不到，然后用动画效果高度变为372 */
    height: 0px;
    background: url(../images/result.png) no-repeat;
}

.section4>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section4.animation .search{

    transition: all 1s;
    transform: none;
}

.section4.animation .key{

    transition: all 1s 1s steps(5);
    width:99px;
}

.section4.animation .result{

    transition: all 1s 2s;
    height:372px;
}


/********************** 第五屏开始  **********************/
.section5>div{
    display: flex;
    /* 设置主轴为y轴 */
    flex-direction: column;
    /* 主轴用space-around */
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
}

.browserBox{

    width: 1004px;
    height:440px;
    position: relative;
}

.extra{

    position: absolute;
    right:0;
    bottom: 0;
}

.top-border{

    background-color: #fff;
    width: 100%;
    height:5px;
    position: absolute;

    transform: translate(-1200px);
}

.left-border{
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 100%;

    transform: translateY(1000px);
}

.bottom-border{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 5px;
    bottom: 0;

    transform: translateX(1200px);
}

.right-border{
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 100%;
    right:0;

    transform: translateY(-1200px);
}

.section5.animation .border{

    transition: all 1s;
    transform: none;
}


